
body {
    margin: 0;
    padding: 0;
}

.carousel-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 16/9;

    width: 100vw;
}

.carousel-inner {
    width: 100vw;
    aspect-ratio: 16/9;

}
.carousel-custom img{
    width: 100vw;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
}
